<div class="example-container pt-4">
    <div mat-dialog-title class="pb-2">
        <h5>End user session:</h5>
        <hr>
    </div>
    <form mat-dialog-content [formGroup]="userEntryForm">
        <h6>Name: {{data.name}}</h6>
        <h6>Start time: {{data.startTime}}</h6>
        <div class="row pt-2">
            <div class="col-md-8">
                <table class="time-format-table" cellspacing="0">
                    <td>
                        <mat-form-field>
                            <input matInput placeholder="hh" formControlName="endTime_hh">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field><input matInput placeholder="mm" formControlName="endTime_mm">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <mat-label>AM/PM</mat-label>
                            <mat-select formControlName="endTime_period">
                                <mat-option *ngFor="let format of timeFormat" [value]="format">
                                    {{format}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </table>
            </div>
        </div>

        <div class="col-md-2 pl-2">
            <button mat-raised-button color="primary" (click)="displayBill()" cdkFocusInitial>Calculate
                bill</button>
        </div>

        <div class="pt-2">
            <h5 *ngIf="showBill|async">
                Total bill is: {{totalBillAmount}}rs.
            </h5>
        </div>

        <div class="pt-2" mat-dialog-actions>
            <button mat-button (click)="onNoClick()">Cancel</button>
            <button mat-raised-button color="primary" [mat-dialog-close]="data" type="submit" (click)="endUserSession()"
                cdkFocusInitial>End Session</button>
        </div>
    </form>
</div>