<div class="example-container pt-4">
  <div mat-dialog-title
       class="pb-2">
    <div class="alert alert-dark"
         role="alert">
      <h5>User Entry Form:</h5>
    </div>
  </div>
  <form mat-dialog-content
        [formGroup]="userEntryForm">
    <mat-form-field>
      <mat-select placeholder="Select Branch"
                  formControlName="branchId">
        <mat-option value="Dombivli">Dombivli</mat-option>
        <mat-option value="Thane">Thane</mat-option>
        <mat-option value="Andheri">Andheri</mat-option>
        <mat-option value="Navi Mumbai">Navi Mumbai</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput
             placeholder="Name"
             formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <input matInput
             placeholder="Phone number"
             formControlName="phone">
    </mat-form-field>

    <mat-form-field>
      <input matInput
             placeholder="Email"
             formControlName="email">
    </mat-form-field>


    <div class="row time-picker">
      <div class="col-md-12">
        <span>Enter session start time (12 hrs format):</span>
      </div>
      <div class="col-md-2">
        <mat-form-field>
          <input matInput
                 placeholder="hh"
                 formControlName="startTime_hh">
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field><input matInput
                 placeholder="mm"
                 formControlName="startTime_mm"></mat-form-field>
      </div>
      <div class="col-md-1">
        <mat-form-field>
          <mat-label>AM/PM</mat-label>
          <mat-select formControlName="startTime_period">
            <mat-option *ngFor="let format of timeFormat"
                        [value]="format">
              {{format}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="pt-2"
         mat-dialog-actions>
      <button mat-button
              (click)="onNoClick()">Cancel</button>
      <button mat-raised-button
              color="primary"
              [mat-dialog-close]="data"
              type="submit"
              (click)="doUserEntry()"
              cdkFocusInitial>Submit</button>
    </div>
  </form>
</div>