<mat-toolbar color="primary">
  <span>Application Title</span>
  <span class="example-fill-remaining-space"></span>
</mat-toolbar>

<div class="row">
  <div class="col-md-6 offset-md-2">
    <div class="example-container pt-4">

      <div class="pb-2">
        <h5>User Entry Form:</h5>
      </div>

      <form [formGroup]="userEntryForm" (ngSubmit)="doUserEntry(userEntryForm.value)">
        <mat-form-field>
          <mat-select placeholder="Select Branch">
            <mat-option value="Dombivli">Dombivli</mat-option>
            <mat-option value="Thane">Thane</mat-option>
            <mat-option value="Andheri">Andheri</mat-option>
            <mat-option value="Navi Mumbai">Navi Mumbai</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Phone number" formControlName="phone">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>


        <mat-form-field>
          <input matInput placeholder="Start Time" formControlName="startTime">
        </mat-form-field>

        <div class="pt-2">
          <button mat-raised-button color="primary" type="submit">Submit</button>
          <button mat-button>Clear</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row">
<div class="col-md-12 p-4">
  <h4>Current logged in users: </h4>
    <table mat-table [dataSource]="userDataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Phone </th>
        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
      </ng-container>
    
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
    
      <ng-container matColumnDef="startTime">
        <th mat-header-cell *matHeaderCellDef> Start Time </th>
        <td mat-cell *matCellDef="let element"> {{element.startTime}} </td>
      </ng-container>

      <ng-container matColumnDef="endTime">
        <th mat-header-cell *matHeaderCellDef> End Time </th>
        <td mat-cell *matCellDef="let element"> {{element.endTime}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
</div>