<mat-toolbar class="menu-color"
             color="primary">
    <span>24/7 GAMERZ CAFE</span>
    <span class="example-fill-remaining-space"></span>
</mat-toolbar>

<mat-toolbar color="basic">
    <button mat-raised-button
            color="primary"
            class="menu-button"
            routerLink="/">Home</button>
    <div class="pl-4">
        <button mat-raised-button
                color="primary"
                class="menu-button"
                routerLink="/"
                (click)="openUserRegitrationForm()">Enter user</button>
    </div>
    <div class="pl-4">
        <a mat-raised-button
           color="primary"
           class="menu-button"
           routerLink="/user-entry-history">
            Show history by date
        </a>
    </div>
    <span class="example-fill-remaining-space"></span>
</mat-toolbar>
<router-outlet></router-outlet>