<div class="row">
  <div class="col-md-12 p-4">
    <h4>{{tableTitle}}</h4>
    <table mat-table [dataSource]="userDataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="branchId">
        <th mat-header-cell *matHeaderCellDef> Branch </th>
        <td mat-cell *matCellDef="let element"> {{element.branchId}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Phone </th>
        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="startTime">
        <th mat-header-cell *matHeaderCellDef> Start Time </th>
        <td mat-cell *matCellDef="let element"> {{element.startTime}} </td>
      </ng-container>

      <ng-container matColumnDef="endTime">
        <th mat-header-cell *matHeaderCellDef> End Time </th>
        <td mat-cell *matCellDef="let element"> {{element.endTime}} </td>
      </ng-container>

      <ng-container *ngIf="!isHistoryTable else showTimePrice">
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef> Edit </th>
          <td mat-cell *matCellDef="let element" (click)="openEditUserEntryDialoge(element)">
            <button mat-raised-button color="primary">Edit</button>
          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> End session </th>
          <td mat-cell *matCellDef="let element" (click)="openEndSessionDialog(element)">
            <button mat-raised-button color="warn">End session</button>
          </td>
        </ng-container>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <ng-template #showTimePrice>
        <ng-container matColumnDef="totalTime">
          <th mat-header-cell *matHeaderCellDef> Total Time (in min.)</th>
          <td mat-cell *matCellDef="let element"> {{element.totalTime}} min</td>
        </ng-container>

        <ng-container matColumnDef="totalPrice">
          <th mat-header-cell *matHeaderCellDef>Total Price</th>
          <td mat-cell *matCellDef="let element">&#8377; {{element.totalPrice}}</td>
        </ng-container>
      </ng-template>

    </table>
  </div>
</div>