@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  margin: 0;
}

*{
  font-family: "Poppins", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
}

#user-entry-table {
  width: 100%;
  overflow: scroll;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

mat-dialog-container .mat-dialog-content {
  display: flex;
  margin: 0 -24px;
  padding: 0 24px;
  max-height: 65vh;
  overflow: inherit;
}

.time-picker{
  mat-form-field{
    .mat-form-field-infix{
      width: 75px;
    }
  }
}
