@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

form
{
  display: flex;
  flex-direction: column;  
}

table {
  width: 100%;
}
